body {
  /* width: 1440px; */
  margin: 0;
  background-color: hsl(193, 100%, 96%);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
}

.huddle-logo-top {
  position: absolute;
  width: 13%;
  top: 40px;
}

.mockups {
  position: relative;
  bottom: 50px;
  float: right;
  padding-left: 50px;
  width: 50%;
}

.top-container {
  position: relative;
  text-align: left;
  background-image: url(images/bg-hero-desktop.svg);
  background-size: cover;
  padding: 200px 60px 170px;
}

.middle-container {
  background-color: white;
  padding: 50px 50px 0;
}

.grow-together {
  border-radius: 0.75rem;
  box-shadow: 0 0 10px 1.5px lightgrey;
  margin: 50px 15px 25px 15px;
  padding: 50px;
}

.content-grow-together {
  padding: 50px 25px;
  width: 47%;
}

.img-grow-together {
  width: 35%;
  float: right;
}

.flowing-conversation {
  border-radius: 0.75rem;
  box-shadow: 0 0 10px 1.5px lightgrey;
  margin: 25px 15px 25px 15px;
  padding: 50px;
}

.content-flowing-conversation {
  padding: 50px 0;
  margin-left: 500px;
}

.img-flowing-conversation {
  width: 35%;
  float: left;
}

.your-users {
  border-radius: 0.75rem;
  box-shadow: 0 0 10px 1.5px lightgrey;
  margin: 25px 15px 255px 15px;
  padding: 50px;
}

.content-your-users {
  padding: 50px 25px;
  width: 47%;
}

.img-your-users {
  width: 35%;
  float: right;
}

.block {
  background-color: white;
  box-shadow: 0 0 10px 1.5px lightgrey;
  border-radius: 0.75rem;
  margin: 50px 15px 25px 15px;
}

.bottom-container {
  background-color: hsl(192, 100%, 9%);
  padding-top: 200px;
  text-decoration: none;
  color: white;
}

.huddle-logo-bot {
  filter: invert(1) saturate(0) brightness(2) contrast(1);
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  margin: 0;
}

.attribution {
margin: 0;
}

.link {
  color: white;
}

.link:hover {
  color: red;
}

.try-it-free {
  position: absolute;
  left: 80%;
  top: 40px;
  font-weight: 700;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 7px hsl(208, 11%, 55%);
  -moz-box-shadow: 0 0 7px hsl(208, 11%, 55%);
  box-shadow: 0 0 7px hsl(208, 11%, 55%);
  color: black;
  background: white;
  padding: 15px 60px 15px 60px;
  text-decoration: none;
}

.try-it-free:hover {
  background: #e6cb1c;
  text-decoration: none;
}

.get-started {
  position: absolute;
  bottom: 100px;
  font-weight: 700;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  color: white;
  background: hsl(322, 100%, 66%);
  padding: 15px 55px 15px 55px;
  text-decoration: none;
}

.get-started:hover {
  background: #e6cb1c;
  text-decoration: none;
}
